# This goes into /etc/udev/rules.d/100-blackmagicdesign.rules

# Atem Mini
SUBSYSTEM=="usb", ATTR{idVendor}=="1edb", ATTR{idProduct}=="be49", MODE="0666"

# Atem Mini Pro
SUBSYSTEM=="usb", ATTR{idVendor}=="1edb", ATTR{idProduct}=="be55", MODE="0666"

# Blackmagic design Micro Converter BiDirectional SDI/HDMI 12G
SUBSYSTEM=="usb", ATTR{idVendor}=="1edb", ATTR{idProduct}=="be89", MODE="0666"

# Blackmagic design Micro Converter SDI to HDMI 3G
SUBSYSTEM=="usb", ATTR{idVendor}=="1edb", ATTR{idProduct}=="be90", MODE="0666"

# Blackmagic design Micro Converter HDMI to SDI 3G
SUBSYSTEM=="usb", ATTR{idVendor}=="1edb", ATTR{idProduct}=="be91", MODE="0666"
