button.bmdbtn {
    padding: 0;
    margin: 0;
}

button.bmdbtn label {
    font-size: 9pt;
    font-weight: bold;
}

button.bmdbtn.preview {
    background: linear-gradient(#4F4, #30e530);
    color: black;
    text-shadow: none;
}

button.bmdbtn.program {
    background: linear-gradient(#F44, #f52727);
    color: black;
    text-shadow: none;
}

button.bmdbtn.active {
    background: linear-gradient(#ffc144, #e7af40);
    color: black;
    text-shadow: none;
}

button.stylebtn.active {
    background: linear-gradient(#ffc144, #e7af40);
    text-shadow: none;
}

label.rate {
    font-size: 0.9em;
}

entry.rate {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
}

expander.bmdgroup arrow {
    opacity: 0;
}

stackswitcher.less-padding button {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    min-width: 45px;
}

box.mp-slot {
    background: #000;
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
}


scale.tbar {
    padding-top: 0;
    padding-bottom: 0;
}

scale.tbar slider {
    background: linear-gradient(#ccc, #eee, #cba);
    border-radius: 12px;
    min-height: 24px;
    min-width: 48px;
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: -22px;
    margin-right: -22px;

    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.5);
}

box.tally {
    min-height: 8px;
    background: @content_view_bg;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid @borders;
}

box.tally.program {
    background: linear-gradient(#ff3b3b, #f52727);
}

box.tally.afv {
    background: linear-gradient(#ffc144, #e7af40);
}