button.bmdbtn {
    padding: 0;
    margin: 0;
}

button.bmdbtn label {
    font-size: 9pt;
    font-weight: bold;
}

button.bmdbtn.preview {
    background: #4F4;
    color: black;
}

button.bmdbtn.program {
    background: #F44;
    color: black;
}

button.bmdbtn.active {
    background: #ffc144;
    color: black;
}

entry.rate {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
}

expander.bmdgroup arrow {
    opacity: 0;
}

stackswitcher.less-padding button {
    padding: 3px 8px;
    margin: 0;
    min-width: 45px;
}

box.mp-slot {
    background: #000;
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
}