[Desktop Entry]
Name=Setup
Version=1.0
Type=Application
Terminal=false
Exec=bmd-setup
GenericName=Converter config
Icon=nl.brixit.Setup
Categories=GTK;GNOME;Utility
Keywords=blackmagic design;bmd
X-DBUS-ServiceName=nl.brixit.Setup
